In [20]:
#PRINTING IN PYTHON
print ("python is fun" ,end =' ')
print ("Welcome to Computer Science")
print ("Programming is fun")
print ("python is fun" " " *5)

python is fun Welcome to Computer Science
Programming is fun
python is fun python is fun python is fun python is fun python is fun

In [9]:
#display the a pattern
pattern = ["FFFFFFF  U       U   NN     NN",
           "FF       U       U   NNN    NN",
           "FFFFFF   U       U   NN N   NN",
           "FF        U     U    NN  N  NN",
           "FF          UUU      NN    NNN "       
    
]
for x in pattern:
   print(x)

FFFFFFF  U       U   NN     NN
FF       U       U   NNN    NN
FFFFFF   U       U   NN N   NN
FF        U     U    NN  N  NN
FF          UUU      NN    NNN

In [14]:
table = ["a     a^2    a^3",
         "1      1      1",
         "2      4      8",
         "3      9      27",
         "4      16     64"
    
]
for x in table:
   print(x)

a     a^2    a^3
1      1      1
2      4      8
3      9      27
4      16     64

In [15]:
#compution of an exprssion
expression = ((9.5*4.5)-(2.5*3))/(45.5-.5)
print("the result is:",expression)

the result is: 0.7833333333333333

In [16]:
#summation of the following series
sum = 1+2+3+4+5+6+7+8+9
sum

45

In [19]:
pi = 4 * (1-1/3+1/5-1/7+1/9-1/11)
pi
pi = 4 * (1-1/3+1/5-1/7+1/9-1/11+1/13-1/15)
pi

3.017071817071818

In [24]:
#computation of the perimeter and area of the circle whose radius is 5.5
radius = 5.5
pi = 3.14159
area = radius * radius * pi
area

95.0330975

In [25]:
perimeter = 2 * radius * pi
perimeter

34.55749

In [42]:
#Reading input from the console
#prompting the user to enter the radius
# input :: Allowas the reading of the input as a string
# eval :: Allows converting of a string to a number
radius = eval(input("Enter the radius of the circle:"))
area =( pi * radius * radius)
print ("the area of a circle is:",round(area))

Enter the radius of the circle: 2.5

the area of a circle is: 20

In [34]:
#A program that prompts the user to enter three values and then computes their average
number1 = eval(input("enter number1:"))
number2 = eval(input("enter number2:"))
number3 = eval(input("enter number3:"))
average = (number1 + number2 + number3)/3
print ("the average of three numbers is:",average)

enter number1: 2
enter number2: 3
enter number3: 4

the average of three numbers is: 3.0

In [1]:
#Simultaneous assignment
number1,number2,number3 = eval(input("Enter the three numbers:"))
average = (number1 + number2 + number3)/3
print ("the average of three numbers is:",average)

Enter the three numbers: 1,2,3

the average of three numbers is: 2.0

In [23]:
#COMPUTATION
radius = eval(input("Enter the raduis of the cylider:"))
length = eval(inpu2
              t("Enter the length of the cylider:"))
pi = 3.14
area = radius * radius *pi
volume = area *length
print("the area of the cylider is:",area ,end = ' ')
print("and the volume of the cylider is:",volume)

Enter the raduis of the cylider: 2
Enter the length of the cylider: 3

the area of the cylider is: 12.56 and the volume of the cylider is: 37.68

In [5]:
pound = eval(input("enter the pound:"))
t = 0.454
kilo = t * pound
print ("55.5 pounds is:",kilo)

enter the pound: 55.5

55.5 pounds is: 25.197

In [9]:
finalAccontValue = eval(input("Enter the finalAccontValue:"))
annualInterest = eval(input("Enter the AnnualInterestRate:"))
numberOfYears = eval(input("Enter the numberOfYears:"))
monthlyInterestRate = annualInterest/12
numberOfMonths = 12/numberOfYears
initialDepositAmount = (finalAccountValue)/(1+monthlyInterestRate)**numberOfMonths
print("the intialDepositAmount is:",intialDepositAmount)

Enter the finalAccontValue: 1000
Enter the AnnualInterestRate: 4.25
Enter the numberOfYears: 5

NameError: name 'finalAccountValue' is not defined

In [14]:
#python fuctions
#abs rsults the absolute value
abs(-2)

2

In [13]:
#returns the largest value
max(-10,1000,12)

1000

In [15]:
returns the smallest value
min(-10,1000,12)

-10

In [16]:
#  pow same as a**b
pow(2,3)

8

In [18]:
#round returns the nearest to the value
round(2.1)

2

In [21]:
#mathematicla functions

math.sqrt(4)

2.0

In [20]:
math.sin(2 * math.pi)

-2.4492935982947064e-16

In [2]:
#characters
#ASCII
#FUNCTIONS USED ord,chr
#x  = "A"
#ord(x)
y = "a"
ord(y)

97

In [3]:
# chr function
x = 97
chr(x)

'a'

In [4]:
y = "b"
ord(y)

98

In [5]:
c = "c"
ord(c)

99

In [6]:
x = "A"
ord(x)

65

In [7]:
x = "B"
ord(x)

66

In [8]:
#escape sequences
print("he said,"he is strong"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2873995009.py, line 2)

In [11]:
#to solve this use the escape sequences and also if use want to allow your string of characters to be quoted
print("he said,\"he is strong\"")

he said,"he is strong"

In [15]:
print("he said,\"he is strong\"")
print("he said,\"he is \n strong\"")

he said,"he is strong"
he said,"he is
 strong"

In [19]:
# if you dont want to break the two statements or to join the two statements
print("he said,\"he is strong\"", end = ' ')
print("he said,\"he is strong\"")

he said,"he is strong" he said,"he is strong"

In [25]:
print ("python is fun" ,end =' ')
print ("Welcome to Computer Science")
print ("Programming is fun")
print ("python is fun" " " *5)
message = 'welcome to python'
message

python is fun Welcome to Computer Science
Programming is fun
python is fun python is fun python is fun python is fun python is fun

'welcome to python'

In [27]:
#String contenation operator(+)
message = 'welcome to python'
add = ' and python is fun '
total = message + add
total

'welcome to python and pythod is fun '

In [28]:
# str function retuns a string integer
x = 4
str(x)

'4'

In [37]:
#input function reads a string from the console
y1 = input("Enter the string:")
y2 = input("Enter the string:")
print("the output is:" +y1)
print("the output is:" +y2)
add = y1 +' ' + y2 
add

Enter the string:  ""  hello
Enter the string: world

the output is:hello
the output is:world

'hello world'

In [44]:
#OBJECTS AND METHODS
x = True
type(x)
id(x)

140732731548048

In [43]:
x = '222.0'
type(x)

str

In [45]:
s = 'welcome'
s

'welcome'

In [47]:
s1 = s.strip()
s1

'welcome'

In [49]:
s2 = "\tGeorgia\n"
s3 = s2.lower()
s3

'\tgeorgia\n'

In [50]:
s2 = "\tGeorgia\n"
s2

'\tGeorgia\n'

In [51]:
s2 = "\tGeorgia\n"
s3 = s2.upper()
s3

'\tGEORGIA\n'

In [55]:
s = "\tGood\tMorning\n"
s1 = s.strip()
s1

'Good\tMorning'

s = "\tGood\tMorning\n"
s

In [54]:
s = "\tGood\tMorning\n"
s

'\tGood\tMorning\n'

In [57]:
#formatting Numbers and strings
amount = eval(input("Enter the amount:"))
interestRate = eval(input("Enter the interestRate"))
interest = amount * interestRate
print("the interest is:",interest)

Enter the amount: 23.678
Enter the interestRate 0.0013

the interest is: 0.0307814

In [58]:
# i only want two decimal numbers
amount = eval(input("Enter the amount:"))
interestRate = eval(input("Enter the interestRate"))
interest = amount * interestRate
print("the interest is:",round(interest,2))

Enter the amount: 23.678
Enter the interestRate 0.0013

the interest is: 0

In [64]:
# i only want two decimal numbers
amount = eval(input("Enter the amount:"))
interestRate = eval(input("Enter the interestRate"))
interest = amount * interestRate
print("the interest is:",format(interest, ".3f"))

Enter the amount: 12618.98
Enter the interestRate 0.0013

the interest is: 16.405

In [62]:
>>> amount = 12618.98
>>> interestRate = 0.0013
>>> interest = amount * interestRate
>>> print("Interest is",format(interest, ".2f"))

Interest is 16.40