In [12]:
#THE USE OF THE PRINT FUNCTION IN PYTHON
#PRINT IS A PYTHON BUILT-IN FUNCTION
#printing a single statement
print("welcome to python")

welcome to python

In [13]:
#printing multiple statements
print("welcome to python")
print("python is fun")

welcome to python
python is fun

In [14]:
#printing multiple statements
print("FFFFFFFF   U      U   NN      NN")
print("FF         U      U   NNN     NN")
print("FF         U      U   NN N    NN")
print("FFFFFFFF    U    U    NN  N   NN")
print("FF           UUU      NN      NNN")

FFFFFFFF   U      U   NN      NN
FF         U      U   NNN     NN
FF         U      U   NN N    NN
FFFFFFFF    U    U    NN  N   NN
FF           UUU      NN      NNN

In [15]:
#printing a table
print("a   a^2   a^3")
print("1   1     1")
print("2   4     8")
print("3   9     27")
print("4   16    64")

a   a^2   a^3
1   1     1
2   4     8
3   9     27
4   16    64

In [16]:
#a program computing an expression 
print(((9.5 * 4.5)-(2.5 * 3))/(45.5-3.5))

0.8392857142857143

In [17]:
print((9.5 * 4.5-2.5 * 3)/(45.5-3.5))

0.8392857142857143

In [18]:
#A PROGRAM THAT COMPUTES THE AREA AND PERIMETER OF A CIRCLE
# this program introdues a variables called radius , area, pi and perimeter
pi = 3.14
radius = 5.5
Area = radius * radius * pi
Perimeter = 2 * pi * radius
print("the area of a circle is:", Area)
print("the perimeter of a circle is:", Perimeter)

the area of a circle is: 94.985
the perimeter of a circle is: 34.54

In [19]:
#Prompting the user to enter radius inorder to get the area and perimeter of a circle
#pi is a constant
pi = 3.14
radius = eval(input("enter the radius of the circle"))
area = radius * radius * pi
perimeter = 2 * radius * pi
print("the area of a circle is:",area)
print("the perimeter of a circle is:",perimeter)

enter the radius of the circle 5.5

the area of a circle is: 94.985
the perimeter of a circle is: 34.54

In [20]:
#simultaneous expressions
# EVAL,INPUT ARE PYTHON BUILT-IN FUNCTIONS
radius,length = eval(input("Enter the radius and length of a cylinder:"))
area = radius * radius * pi
volume = area * length
print("the area is:", area)
print("the volume is:",volume)

Enter the radius and length of a cylinder: 5.5,12

the area is: 94.985
the volume is: 1139.82

In [27]:
#converting a float to an integer use the int function
y = 4.555
#the value of y is truncated not rounded off if converted to an integer
x = int(y)
print(y)

print(x)
# to round off to the nearest whole number we use the round function
z = round(y)
print(z)

4.555
4

5

In [38]:
#MATHEMATICAL FUNCTIONS,STRINGS AND OBJECTS
#to use the math functions we have to import the math module
import math 
x = math.sqrt(4)
y = int(x)
z = round(x)
print(y)
print(x)
print(z)

2
2.0
2

In [48]:
#mathematical functions
x = math.sin(2 * math.pi)
y = int(x)
print(x)
print(y)
h = math.cos(2 * math.pi)
s = int(h)
print(h)
print(s)
#min(2, 2, 1)
v = math.log(math.e)
print(v)

-2.4492935982947064e-16
0
1.0
1
1.0

In [6]:
#20th August 2024
#the use of the ord and chr functions
#the ord function returns the ASCII code for the character
#the chr function retuns the character of the code
 y = 'A'
print(ord(y))
x = 65
print(chr(x))

65
A

In [8]:
z = 'l'
print(ord(z))
z = 108
print(chr(z))

108
l

In [9]:
#trying to make the output to have double quotes but an error occurs
print("He said, "John's program is easy to read"")

SyntaxError: unterminated string literal (detected at line 1) (329054741.py, line 1)

In [10]:
#to solve the above error we use the escape characters and this is the \"
print("He said, \"John's program is easy to read\"")

He said, "John's program is easy to read"

In [14]:
 #other escape characters include \b,\t,\n,\',\r,\f,\\
#\n this is called the linefeed it causes the output to go to the next line
print("the girl is \n tall")
#\n this also automatically makes the output to go the next line even wen it is not included 
print("the girl")
print("the boy")
#to prevent this from happening we add the end argument
print("the girl", end = '')
print("the boy")

the girl is
 tall
the girl
the boy
the girlthe boy

In [47]:
#implementation of the end argument in this problem
import math
radius,length = eval(input("Enter the radius and length of a cylinder:"))
area = radius * radius * math.pi
volume = area * length
print("the area is:", area, end = '')
print(" and the volume is:",volume)

Enter the radius and length of a cylinder: 2,5.5

the area is: 12.566370614359172 and the volume is: 69.11503837897544

In [23]:
 #the use of the str function to convert a number to a string
a = 4
str(a)

'4'

In [25]:
#The String Concatenation Operator(+)
#this concatenates three strings into one
message = "Welcome " + "to " + "Python"
message

'Welcome to Python'

In [28]:
chapter = 3
chapter1 = 'Chapter ' + str(chapter)
chapter1

'Chapter 3'

In [36]:
 #the augmented assignment(+=) can be used in string concatenation
chapter1 += " and chapter 4"
chapter1

'Chapter 3 and chapter 4'

In [38]:
 #Reading strings from the console use the input function
s1 = input("enter the string:")
s2 = input("enter the string:")
print(s1)
print(s2)

enter the string: welcome to
enter the string: python

welcome to
python

In [39]:
x = input("Enter a character: ")
ch = chr(ord(x) + 3)
print(ch)

Enter a character:  q

t

In [41]:
x = input("Enter a character: ")
y = input("Enter a character: ")
print(ord(y) - ord(x))

Enter a character:  A
Enter a character:  a

32

In [42]:
#this gives an error becoz we cant concatenate a string with an integer
title = "Chapter " + 1
title

TypeError: can only concatenate str (not "int") to str

In [43]:
#inorder to fix the above error we need to make the integer a string using the str function
title = "Chapter " + str(1)
title

'Chapter 1'

In [44]:
#the first output is the summation of 2 and 3 whereas the second output is the concatenation of two strings
sum = 2 + 3
print(sum)
s = '2' + '3'
print(s)

5
23

In [50]:
 #INDRODUCTION TO OBJECTS AND METHODS
s = "welcome" #s is an object
s1 = s.lower()
print(s1)

s2 = s.upper()#the object is invoking the upper method to return the string in uppercase
print(s2)

 welcome
 WELCOME

In [59]:
s = "\t Welcome \n"
s1 = s.strip()
s1

'Welcome'